/* body, canvas {
    cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
} */
body {
    cursor: none;
    padding: 0;
    margin: 0;
}
.cursor {
    position: absolute;
    content: url(cloud.png)
}